{% extends 'base.html' %}
{%block title%}Add Pet Page{%endblock%}

{%block content%}
<div class="container">
    <h1 class="display-1">Add Pet</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        
        {%for field in form if field.widget.input_type !='hidden' %}
            <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}
                {%for err in field.errors%}
                {{err}}
                {%endfor%}
            </div>
        {%endfor%}
        <button class="btn btn-sucess btn-lg">Submit</button>
        <a href="/" class="btn btn-danger btn-lg">Go Back</a>
    </form>
</div>

{%endblock%} 